# Maven
target/
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*application.properties

# Spring Boot
*.log
*.tmp

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated/
.factorypath

# IDEs em geral
*.iml
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes e cobertura
*.exec
*.ec
*.coverage
*.lcov

# Outros arquivos compilados e temporários
*.class
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

src/main/resources/application.properties
